{% extends "layout.html" %}

<head>
    {% block head %}
        <title>Randori Code Challenge</title>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    {% endblock %}
</head>

<body>
{% block body %}
    <h1>New Header Index</h1>
    <p>New P Index</p>

    <p>Received Post: {{ received_post }}</p>

    <!-- Main form for the user to create input. Does not submit. -->
    <form name="main_form" id="main_form">
        <textarea id="text_field" name="text_field" rows="20" cols="100">
Any text here will be sent to the backend API and returned to this page.</textarea>
        <br>
        <input type="checkbox" value="is_malicious" name="is_malicious" checked>
        <label for="is_malicious">Is Malicious</label>
        <br>
    </form>

    <!-- Uses the input from main_form to call a Javascript function which encodes the data in JSON -->
    <form action="{{ url_for('index') }}" onsubmit="submit_json(main_form)" name="hidden_form" id="hidden_form" method="POST">
        <input type="hidden" name="json_element" id="json_element">
        <!-- Submits all form information here. -->
        <input type="submit" value="Submit Text">
    </form>
{% endblock %}
    </body>