{% extends "layout.html" %}

{% block head %}
    <title>Randori Code Challenge</title>
{% endblock %}

{% block body %}
    <h1>New Header Index</h1>
    <p>New P Index</p>

    <p>Received Post: {{ received_post }}</p>
    <p>Is Malicious?: {{ is_malicious }}</p>

    <form action="/" method="POST" name="main_form" id="main_form">
        <textarea id="text_field" name="text_field" rows="20" cols="100">
{
    "employee": {
        "name":       "sonoo",
        "salary":      56000,
        "married":    true
    },
    "is_malicious": "is_malicious"
}</textarea>
        <br>
        <input type="submit" value="Submit Text">
    </form>
{% endblock %}